{% extends 'base.html.twig' %}

{% block linksTop  %}
	<a href="{{ path('app_persons_list')}}" class="btn btn-sm btn-outline-secondary">Back to overview</a>
{% endblock %}

{% block headline %}
	{% if person.id %}
		Edit person:
		{{ person.name }}
	{% else %}
		Create new person
	{% endif %}
{% endblock %}


{% block body %}
	{{ form(form) }}
{% endblock %}
